<h1>New Post</h1>

<form action="/entries" method="post">
  <p>
    <label for="title">Title</label>
    <input type="text" name="title">
  </p>

  <p>
    <label for="description">Description</label>
    <input type="text" name="description">

    <label for="posted_on">posted_on</label>
    <input type="date" name="posted_on">

  </p>

  
    <input type="hidden" name="place_id" value="<%= @place["id"] %>" id="place_id_input">
  </p>
  <button>Submit</button>
  <a href="/places/<%= @place["id"] %>">Cancel</a>
</form>